GasFinder - NodeRED Nodes.json
[
    {
        "id": "434f0af6ac506466",
        "type": "tab",
        "label": "GasFinder Node-RED",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f31982925b5c5cae",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "434f0af6ac506466",
        "name": "",
        "account": "47e677dd4ddab23a",
        "text": "payload",
        "inputtypemessage": "msg",
        "rejectssl": false,
        "x": 960,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "13dfd54d0b585184",
        "type": "mqtt in",
        "z": "434f0af6ac506466",
        "name": "",
        "topic": "GasFinder",
        "qos": "2",
        "datatype": "utf8",
        "broker": "d978751097242e06",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 300,
        "wires": [
            [
                "cf97760a826717f3"
            ]
        ]
    },
    {
        "id": "cf97760a826717f3",
        "type": "function",
        "z": "434f0af6ac506466",
        "name": "",
        "func": "const delay = ms => new Promise(res => setTimeout(res, ms));\nawait delay(5000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 300,
        "wires": [
            [
                "f31982925b5c5cae",
                "ffd027a18308d960"
            ]
        ]
    },
    {
        "id": "ffd027a18308d960",
        "type": "debug",
        "z": "434f0af6ac506466",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 440,
        "wires": []
    },
    {
        "id": "47e677dd4ddab23a",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "GasFinder"
    },
    {
        "id": "d978751097242e06",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "32093705_mackenzie_GasFinder",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": false,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]